.section-title {
	margin: 5vh;
	padding-bottom: 3vh;
	font-size: 50px;
}

.project ul {
	width: 100%;
}

.project-name {
	color: black;
	margin: 0 0 0 -5px;
	padding: 0 10px;
	padding-bottom: 10px;
}

.project-name h4 {
	font-size: 25px;
	margin: 10px;
}

.project-name p {
	font-size: 20px;
	margin: 10px;
}

.project img {
	width: 25vw;
	height: 25vh;
}
