.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.body {
	width: 80%;
}

.intro img {

	margin: 4vh 1vw;
	height: 40vh;
	width: 20vw;
}

.column25 {
	float: left;
	width: 25%;
}
