.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.body {
	width: 80%;
}

.intro img {
	margin: 4vh 1vw;
	height: 40vh;
	width: 20vw;
}

.column25 {
	float: left;
	width: 25%;
}

@media screen and (max-width: 980px) {
	.column25 {
		float: left;
		width: 33%;
	}

	.intro img {
		margin: 4vh;
		height: 80vh;
		width: 80vw;
	}
}
